@page "/exerciseLog/add/{WorkoutId:int}"
@page "/exerciseLog/edit/{ExerciseLogId:int}"
@using SmartWorkout.Entities
@using Extension_Methods

@if (!AuthService.IsLoggedIn)
{
    <p>You need to log in to access this page.</p>
}
else if (!AuthService.IsTrainer)
{
    <p>You do not have access to this page.</p>
}
else
{
    <EditForm Model="@ExerciseLogDto" OnValidSubmit=@OnFormSubmitAsync FormName="editForm">
        <div class="form-group">
            <label>Exercise Id :</label>
            <div>
                <InputNumber @bind-Value="ExerciseLogDto.ExerciseId" class="form-control col-sm-3" />
                <ValidationMessage For="@(() => ExerciseLogDto.ExerciseId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Reps :</label>
            <div>
                <InputNumber @bind-Value="ExerciseLogDto.Reps" class="form-control col-sm-3" />
                <ValidationMessage For="@(() => ExerciseLogDto.Reps)" />
            </div>
        </div>
        <div class="form-group">
            <label>Duration :</label>
            <div>
                <InputNumber @bind-Value="ExerciseLogDto.Duration" class="form-control col-sm-3" />
                <ValidationMessage For="@(() => ExerciseLogDto.Duration)" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </EditForm>
}