@page "/exercises"
@using Blazorise.DataGrid
@using SmartWorkout.Entities
@rendermode InteractiveServer

<div class="nav-item px-3">
    <NavLink class="nav-link" href="exercise/add">
        <Button Color="Color.Success">+ Add Exercise</Button>
    </NavLink>
</div>
<DataGrid TItem="Exercise"
          Data="@_exercises"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive>
    <DataGridColumn TItem="Exercise" Field="Description" Caption="Description"></DataGridColumn>
    <DataGridColumn TItem="Exercise" Field="Type" Caption="Type"></DataGridColumn>
    <DataGridCommandColumn TItem="Exercise">
        <EditCommandTemplate>
            <Button Color="Color.Dark" Clicked="() => OnEditBtnClicked(context)">Edit</Button>
        </EditCommandTemplate>
        <DeleteCommandTemplate>
            <Button Color="Color.Danger" Clicked="() => OnDeleteBtnClicked(context)">Delete</Button>
        </DeleteCommandTemplate>
    </DataGridCommandColumn>
</DataGrid>