@page "/exerciseLogs"
@page "/exerciseLogs/{WorkoutId:int}"
@rendermode InteractiveServer
@using SmartWorkout.Entities

<h1>Exercise Logs</h1>

<ConfirmDeleteDialog TItem="ExerciseLog" ShowDialog="ShowConfirmDialog" OnClose="OnConfirmClose" Item="SelectedExerciseLog"></ConfirmDeleteDialog>

<DataGrid TItem="ExerciseLog"
          Data="@_exerciseLogs"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive
          Editable
          ShowPager
          PagerPosition="DataGridPagerPosition.Bottom"
          PageSize="10"
>
    <DataGridColumn TItem="ExerciseLog" Field="Reps" Caption="Reps"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Duration" Caption="Duration"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Exercise.Description" Caption="Exercise"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Workout.Name" Caption="Workout"></DataGridColumn>
    <AuthorizeView Roles="Administrator" Context="authContext">
    <DataGridCommandColumn TItem="ExerciseLog" ClearFilterCommandAllowed="false" NewCommandAllowed="false" EditCommandAllowed="false">
            <DeleteCommandTemplate>
                <Tooltip Text="Delete Exercise Log">
                    <Button Style="border: 1px solid red" Clicked="() => OnDeleteBtnClicked(context)">
                        <Icon Name="IconName.Delete" TextColor="TextColor.Danger" IconSize="IconSize.Large" />
                    </Button>
                </Tooltip>
            </DeleteCommandTemplate>
    </DataGridCommandColumn>
    </AuthorizeView>
</DataGrid>
