@page "/usersPage"
@using SmartWorkout.Entities

<div class="nav-item px-3">
    <NavLink class="nav-link" href="addOrEditUsers">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add User
    </NavLink>
</div>
<DataGrid   
    TItem="User"
    Data="@_users"
    Filterable
    FilterMethod="DataGridFilterMethod.StartsWith"
    Responsive
>
    <DataGridColumn TItem="User" Field="FirstName" Caption="First Name"></DataGridColumn>
    <DataGridColumn TItem="User" Field="LastName" Caption="Last Name"></DataGridColumn>
    <DataGridColumn TItem="User" Field="Birthday" Caption="Birthday" DisplayFormat="{0:MM/dd/yyyy}"></DataGridColumn>
    <DataGridColumn TItem="User" Field="Gender" Caption="Gender"></DataGridColumn>
</DataGrid>